.Loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f8f8;
}

.loader_img{
    width: 150px;
    padding: 10px ;
}

.loader_text{
    color: rgb(249, 114, 114);
    font-size: 20px;
    font-family:cursive;
}